@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background-color: gray;
}
img {
    border: 10px solid aquamarine;
    border-radius: 10px;
    float: left;
}

.diff {
    border: 3px outset darkgreen;
    background-color: lightblue;
    text-align: center;
}

.decorate-1 {
    display: inline-block;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    background-color: aquamarine;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}