@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background-color: gray;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    color: lightsalmon;
    text-shadow: 1px 1px;
}
img {
    border: 10px solid aquamarine;
    border-radius: 20px;
    float: left;
    width: 20%;
}

.diff {
    border: 6px outset darkgreen;
    background-color: lightblue;
    text-align: center;
    margin-bottom: 10px;
}

.decorate-1 {
    display: inline-block;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    background-color: aquamarine;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    font-size: large;
}